
  <div class="card" id="articles">

    <div class="card-image">
      <figure class="image is-4by3">
        <img src={{article.img}}>
      </figure>
    </div>

    <div class="card-content">
      <p class="title">
      {{article.title}}
      </p>
      <p class="subtitle">
        {{article.date}}
      </p>
      <p class="subtitle">
      {{article.description}}...
      </p>
    </div>

  </div>
