



<div class="container is-max-desktop">
    <div class="card">
      <div class="card-content">
        <div class="content">
        Wrong password or email or name
          <a href="/" class="button is-primary">
          <strong>Home</strong>
          </a>
        </div>
      </div>
    </div>
</div>
