

<div id="video-wrapper">


    <video loop muted autoplay poster="">

      <source src="/images/1.mp4" type="video/mp4">

    </video>


    <div class="content d-flex align-items-md-start">

      <div class="container text-center">

        <h1 class="textStart">Billions and Billions of stars</h1>
        <h2 class="textStart">As the world turns</h2>

      </div>

    </div>

</div>




