<div class="img-wrapper is-flex is-flex-wrap-wrap">

  {{#each data}}
  <div class="info-mars rotate-diagonal-1">
      <div class="card">
        <div class="card-image">
          <figure class="image is-4by3">
            <img src={{this.img_src}}>
          </figure>
        </div>
      </div>
  </div>
  {{/each}}


</div>
