<form class="photos" name="photo-input">

<input  id="photo-input" class="input" type="text" placeholder="Text input">

</form>
<div class="dayfoto">Photo of the day</div>

<div class="photo-main">
  <div class="card" id="daycard">
    <div class="card-image">
    <figure class="image is-4by3">
      <img src={{url}} alt="Placeholder image">
    </figure>
  </div>
</div>


