
<div class="photo-main">

<div class="container">
  <form action="/signup" method="POST">
  <div class="notification is-primary">
<div class="field">
  <label class="label">Name</label>
  <div class="control">
    <input name="name" class="input" type="text" placeholder="Name">
  </div>
</div>

<div class="field">
  <label class="label">Email</label>
  <div class="control">
    <input name="email" class="input" type="email" placeholder="email">
  </div>
</div>

<div class="field">
  <label class="label">Password</label>
  <div class="control">
    <input name="password" class="input" type="password" placeholder="6 to 28 symbols">
  </div>
</div>

  <div class="control">
    <button type='submit' class="button is-link">Submit</button>
  </div>

  </div>
  </form>
</div>


</div>


